
body {
  margin: 30px auto;
  background-color: white;
  
}
 .octodex {
  margin: 0 auto;
  background-color: white;
}

.octocat {
 float: left;
 border-bottom: 1px solid #d3d3d3;
 margin-right: 50px;
 position: relative;
 
}

.octocat img {
  margin: 0 0 10px 0;
  max-width: 330px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;

}

.image-footer span {
 overflow: hidden;
  
}
.image-number {
  float: left;
  font-size: 16px;
   line-height: 10px;
   padding: 8px 0;
   margin-top: 10px 0;
   color: #808080;
}
.image-number:before {
  content:"#";
  color: #d3d3d3;
}
.image-caption span {
  vertical-align: text-top;
  float: left;
   margin: 2px;
}
.image-caption a {
  vertical-align: text-top;
  float: left;
  margin: 2px;
}

div.image-caption:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #d3d3d3 transparent transparent transparent;
  position: absolute;
  top: 330px;
  left: 310px

}
.image-caption {
  float: right;
  text-align: center;
  font-size: 16px;
  line-height: 20px; 
  
}
span {
  color: grey;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
 li {
  list-style: none;
 }

ul.authors {
  padding: 0px;
 
}
.authors {
  display: inline-block;
  margin: 0 auto;

}
.authors img {
  max-width: 30px;
  float: right;
  border-radius: 10px;
  padding: 0;


} 
