/*element reset*/
ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

/*main object*/
.octocat {
  width: 300px;
  display: inline-block;
  margin-right: 10px;
}

.octocat img{
  border: 1px solid grey;
}

/*footer area*/

/*authors area*/
.authors img {
  width: 25px;
}